<div class="signup-form">
    <form action='/newEvent' method='POST'>
		<h2>Create A new Event</h2>
		<div class="form-group">
        	<input type="text" class="form-control input-lg email" name="name" placeholder="Name of Your Event">
        </div>
        <div class="form-group">
        	<input type="number" class="form-control input-lg email" name="price" placeholder="Price of each ticket">
        </div>
        <div class="form-group">
        	<input type="number" class="form-control input-lg email" name="available" placeholder="Number of tickets available">
        </div>
        <div class="form-group">
        	<input type="text" class="form-control input-lg email" name="location" placeholder="Location of the event">
        </div>
        <div class="form-group">
        	<input type="text" class="form-control input-lg email" name="category" placeholder="Genre of the event">
        </div>
        <div class="form-group">
        	<input type="text" class="form-control input-lg email" name="ticketmanager" placeholder="Name of your Ticket Manager">
        </div>
        <div class="form-group">
        	<input type="date" class="form-control input-lg email" name="time" placeholder="When is the event happening?">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block signup-btn">Post yor Event</button>
        </div>
    </form>
</div>