<div>
    <h1>Welcome {{name}}!</h1>
    <h3>What would you like to do?</h3>
    <br>
    <br>
    <br>
    <a href="/myevents" class="btn btn-danger" style="text-align: right;">See your Events</a>
    <a href="/allevents" class="btn btn-danger" style="text-align: right;">See All Events</a>
    <a href="/newevent" class="btn btn-danger" style="text-align: right;">Create your own Event</a>
</div>