<div style="text-align: center;">
    <h2>Book the best events across the globe!</h2>
    <p>To sell tickets of your own events, please SignIn</p>
    <p>Dont have an account? SignUp for free!</p>
        <a href="/allevents" class="btn btn-info" style="text-align: center;height:auto;">See All Events</a>
</div>